/build

######################
### HornsApp Project
######################

# Google Services (e.g. Ad Mob or Firebase keys)
/src/release/google-services.json

# C++ files
/src/release/cpp/*

# App Properties
release.properties